<main>
  <h1>CouchDB REST. RELAX.</h1>
  <h2>
		<span id="method">GET</span>
		<span id="path"></span>
		<span>HTTP/1.1</span>  	
  </h2>
	<span>
		<button id="create-admin-button" class="button">CREATE SERVER ADMIN</button>
	</span>
	<span style="float:right">
		<button class="fetch bg-red">DELETE</button>
		<button class="fetch bg-green">GET</button>
		<button class="fetch bg-yellow">HEAD</button>
		<button class="fetch bg-orange">POST</button>
		<button class="fetch bg-purple">PUT</button>
	</span>
	<br><br>
	<fieldset id="authority">
		<legend>Target</legend>
		<label for="url">URL:</label>
		<input type="text" name="url" id="url" placeholder="https://dummyjson.com/products/1"></input>
	</fieldset>
	<br>
	<details class="bg-gray" open>
		<br>
		<summary>
			Address Settings
		</summary>
		<fieldset>
			<legend>Base URL</legend>
		  <select name="scheme" id="scheme">
		    <option value="http" selected>http</option>
		    <option value="https">https</option>
		  </select>
		  <span>://</span>
		  <input id=service-add type=text placeholder="localhost">
		  <span>:</span>
		  <input id=port-number type=text placeholder="5984" style="width:56px">
		</fieldset>
		<br>
		<fieldset>
			<legend>Presets</legend>
		  <input id=db-name type=text placeholder="my_db">
		  <input id=doc-name type=text placeholder="my_doc">
		  <input id=node-name type=text placeholder="_local">
	  </fieldset>
		<br>
	</details>
	<br>
	<details class="bg-gray" open>
		<summary>
			Fetch API Init Object
		</summary>
		<br>
		<fieldset>
			<legend>
				<input type="checkbox" id="basic-auth-cbx">
				Basic Authentication
			</legend>
			<label for="username">Username:
			<input type="text" name="username" id="username" placeholder=""></input>
			</label>
			<label for="password">Password:
			<input type="text" name="password" id="password" placeholder=""></input>
			</label>
		</fieldset>
		<br>
		<fieldset id="headers">
			<legend>
				Headers
			</legend>
			<button id="add-header" class="button">Add</button>
		</fieldset>
		<br>
		<fieldset>
			<legend>
				<input type="checkbox" id="include-body-cbx">
				Message Body
			</legend>
			<label for="mime-type">MIME type:</label>
			<select name="mime-type" id="mime-type">
			    <option value="application/json" selected>application/json</option>
			    <option value="application/octet-stream">application/octet-stream</option>
			    <option value="application/xhtml+xml">application/xhtml+xml</option>
			    <option value="application/xml">application/xml</option>
			    <option value="text/css">text/css</option>
			    <option value="text/csv">text/csv</option>
			    <option value="text/html">text/html</option>
			    <option value="text/javascript">text/javascript</option>
			    <option value="text/plain">text/plain</option>
			    <option value="multipart/form-data">multipart/form-data</option>
			    <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
			</select>
			<br><br>
			<textarea id="message-body" rows="5" cols="66"></textarea>
		</fieldset>
	</details>
	</main>
<script>

</script>