<aside>
  <h4>What Is Node.js?</h4>
  <figure style="margin: 0">
  <blockquote style="margin: 0">
  <p>
    Node.js® is a cross-platform, open-source server environment that can run on Windows, Linux, Unix, macOS, and more. Node.js is a back-end JavaScript runtime environment, runs on the <a href="https://v8.dev/">V8 JavaScript Engine<a>, and executes JavaScript code outside a web browser.
  </p>
  <p>
    Node.js lets developers use JavaScript to write command line tools and for server-side scripting. The ability to run JavaScript code on the server is often used to generate dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js represents a "JavaScript everywhere" paradigm.
  </p>
  </blockquote>
  <figcaption>
    <cite>- <a href="https://en.wikipedia.org/wiki/Node.js">Wikipedia</a> Introduction to Node.js</cite>
  </figcaption>
</figure>
</aside>