<dialog>
  <h3>Authenticate</h3>
  <section>
    <fieldset>
      <legend>Your Account</legend>
<!--      <div>
        <label for="displayName">Display Name: </label>
        <input type="text" name="displayName" id="displayName" placeholder="Display Name" minlength="3" maxlength="20" required>
      </div> -->
      <div>
        <label for="email">Email: </label> 
        <input type="email" name="email" id="email" placeholder="Email" minlength="3" maxlength="320" required>
      </div>
    </fieldset>
    <aside>
      <p>
        An email will be sent to you upon submission of this form. Click the link in the email to complete your registration.
      </p>
    </aside>
    <button>Submit</button>
  </section>
</dialog>